<p id="notice"><%= notice %></p>

<h1>Things to do.</h1>
<div class="row">
  <div class="col-sm-4">
    <%= link_to fa_icon('plus', text: 'Add Task'), new_user_task_path, remote: true, class: 'btn btn-block btn-default', id: 'new-button' %>
    <div id="task-form"></div>
  </div>
  <div class="col-sm-8">
    <% @user_tasks.each do |user_task| %>
      <div class="well">
        <%= user_task.description %></td>
        <%= user_task.due %></td>
        <%= link_to 'Show', user_task %></td>
        <%= link_to 'Edit', edit_user_task_path(user_task) %></td>
        <%= link_to 'Destroy', user_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
    <% end %>
  </div>
</div>


<br>

<%= link_to 'New User task', new_user_task_path %>
